.slide {
  border-radius: 10% !important;
  margin: 5rem;
  overflow: hidden;
  transform: scale(0.3);
  transition: transform 500ms;
  opacity: 0.5;
  cursor: pointer;
}
.slider-img {
  border-radius: 10% 10% 0 0 !important;
}
.activeSlide {
  border-radius: 10% !important;
  margin: 5rem;
  overflow: hidden;
  transform: scale(1);
  opacity: 1;
}
.gitHub,
.page {
  transition: 0.3s;
  border-radius: 8px;
}
.gitHub:hover,
.page:hover {
  background-color: rgb(201, 193, 193);
  transition: 0.5s;
}
@media screen and (max-width: 450px) {
  .card-body {
    height: 85px;
    font-size: 60%;
  }
}
