.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide {
  border-radius: 10% !important;
  margin: 5rem;
  overflow: hidden;
  transform: scale(0.3);
  transition: transform 500ms;
  opacity: 0.5;
  cursor: pointer;
}
.slider-img {
  border-radius: 10% 10% 0 0 !important;
}
.pr-links:hover {
  color: grey !important;
  transition: 0.3s;
}
.activeSlide {
  border-radius: 10% !important;
  margin: 5rem;
  overflow: hidden;
  transform: scale(1);
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .slick-slider {
    width: 100%;
  }
}
