.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.skill-img {
  width: 13%;
}
.skills div {
  gap: 10px;
}
.desc {
  font-size: 18px !important;
}
@media screen and (max-width: 960px) {
  .skills div h5 {
    font-size: 12px;
  }
  .desc {
    font-size: 12px !important;
  }
  .aside {
    margin-right: 30px;
    height: 30px;
    width: 150px;
  }
}
