.go {
  background-color: #0794a3 !important;
  transition: 0.3s;
}
.go:hover {
  background-color: #100b55 !important;
}
svg path {
  transition: 0.3s;
}
.iconRed:hover svg path {
  color: #100b55 !important;
  transition: 0.3s;
}
@media screen and (max-width: 960px) {
  .go {
    width: 125px;
    font-size: 5px !important;
  }
  .go h4 {
    font-size: 10px;
  }
  .redes {
    margin-left: 10px;
  }
}
