* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff !important;
}
body {
  background: #056491 !important;
}
.active {
  border: white 1.5px outset;
}
section {
  background-color: rgba(255, 255, 255, 0.15);
}
