* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff !important;
}
body {
  background: #0794a3 !important;
}
.active {
  background-color: #100b55;
}
section {
  background-color: rgba(255, 255, 255, 0.15);
}
.home,
.about,
.projects,
.contact {
  height: 750px;
  border-radius: 15px;
}
