* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff !important;
}
body {
  background: #0794a3 !important;
}

@media screen and (max-width: 960px) {
  section {
    font-size: 70%;
    width: 100% !important;
  }
}
